{{ '[HeavyHitterFilter]' }}
{% if bf['parent'] is defined and bf['parent'] not in ['', [], '[]', None] %}
{{ 'Parent=' ~ bf['parent'] }}
{% endif %}
{% if bf['handle'] is defined and bf['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' ~ bf['handle'] }}
{% endif %}
{% if bf['packet_limit'] is defined and bf['packet_limit']
  not in ['', [], '[]', None] %}
{{ 'PacketLimit=' ~ bf['packet_limit'] }}
{% endif %}
