{{ '[TokenBucketFilter]' }}
{% if bt['parent'] is defined and bt['parent'] not in ['', [], '[]', None] %}
{{ 'Parent=' ~ bt['parent'] }}
{% endif %}
{% if bt['handle'] is defined and bt['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' ~ bt['handle'] }}
{% endif %}
{% if bt['latency_sec'] is defined and bt['latency_sec']
  not in ['', [], '[]', None] %}
{{ 'LatencySec=' ~ bt['latency_sec'] }}
{% endif %}
{% if bt['limit_size'] is defined and bt['limit_size']
  not in ['', [], '[]', None] %}
{{ 'LimitSize=' ~ bt['limit_size'] }}
{% endif %}
{% if bt['burst'] is defined and bt['burst'] not in ['', [], '[]', None] %}
{{ 'Burst=' ~ bt['burst'] }}
{% endif %}
{% if bt['rate'] is defined and bt['rate'] not in ['', [], '[]', None] %}
{{ 'Rate=' ~ bt['rate'] }}
{% endif %}
{% if bt['mpu'] is defined and bt['mpu'] not in ['', [], '[]', None] %}
{{ 'MPUBytes=' ~ bt['mpu'] }}
{% endif %}
{% if bt['peak_rate'] is defined and bt['peak_rate']
  not in ['', [], '[]', None] %}
{{ 'PeakRate=' ~ bt['peak_rate'] }}
{% endif %}
{% if bt['mtu'] is defined and bt['mtu'] not in ['', [], '[]', None] %}
{{ 'MTUBytes=' ~ bt['mtu'] }}
{% endif %}
