{{ '[TrivialLinkEqualizer]' }}
{% if btq['parent'] is defined and btq['parent'] not in ['', [], '[]', None] %}
{{ 'Parent=' ~ btq['parent'] }}
{% endif %}
{% if btq['handle'] is defined and btq['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' ~ btq['handle'] }}
{% endif %}
{% if btq['id'] is defined and btq['id'] not in ['', [], '[]', None] %}
{{ 'Id=' ~ btq['id'] }}
{% endif %}
