{{ '[CAKE]' }}
{% if bc['parent'] is defined and bc['parent'] not in ['', [], '[]', None] %}
{{ 'Parent=' ~ bc['parent'] }}
{% endif %}
{% if bc['handle'] is defined and bc['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' ~ bc['handle'] }}
{% endif %}
{% if bc['overhead'] is defined and bc['overhead']
  not in ['', [], '[]', None] %}
{{ 'Overhead=' ~ bc['overhead'] }}
{% endif %}
{% if bc['bandwidth'] is defined and bc['bandwidth']
  not in ['', [], '[]', None] %}
{{ 'Bandwidth=' ~ bc['bandwidth'] }}
{% endif %}
