{{ '[NetworkEmulator]' }}
{% if bne['parent'] is defined and bne['parent'] not in ['', [], '[]', None] %}
{{ 'Parent=' ~ bne['parent'] }}
{% endif %}
{% if bne['handle'] is defined and bne['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' + bne['handle'] }}
{% endif %}
{% if bne['delay_sec'] is defined and bne['delay_sec']
  not in ['', [], '[]', None] %}
{{ 'DelaySec=' ~ bne['delay_sec'] }}
{% endif %}
{% if bne['delay_jitter_sec'] is defined and bne['delay_jitter_sec']
  not in ['', [], '[]', None] %}
{{ 'DelayJitterSec=' ~ bne['delay_jitter_sec'] }}
{% endif %}
{% if bne['packet_limit'] is defined and bne['packet_limit']
  not in ['', [], '[]', None] %}
{{ 'PacketLimit=' ~ bne['packet_limit'] }}
{% endif %}
{% if bne['loss_rate'] is defined and bne['loss_rate']
  not in ['', [], '[]', None] %}
{{ 'LossRate=' + bne['loss_rate'] }}
{% endif %}
{% if bne['duplicate_rate'] is defined and bne['duplicate_rate']
  not in ['', [], '[]', None] %}
{{ 'DuplicateRate=' + bne['duplicate_rate'] }}
{% endif %}
