{{ '[PFIFOFast]' }}
{% if bpf['parent'] is defined and bpf['parent'] not in ['', [], '[]', None] %}
{{ 'Parent=' ~ bpf['parent'] }}
{% endif %}
{% if bpf['handle'] is defined and bpf['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' ~ bpf['handle'] }}
{% endif %}
