{{ '[QDisc]' }}
{% if bq['parent'] is defined and bq['parent'] in ['clsact', 'ingress'] %}
{{ 'Parent=' + bq['parent'] }}
{% if bq['handle'] is defined and bq['handle'] not in ['', [], '[]', None] %}
{{ 'Handle=' ~ bq['handle'] }}
{% endif %}
{% endif %}
