{{ '[BridgeVLAN]' }}
{% if bv['vlan'] is defined and bv['vlan'] not in ['', [], '[]', None] %}
{{ 'VLAN=' ~ bv['vlan'] }}
{% endif %}
{% if bv['egress_untagged'] is defined and bv['egress_untagged']
  not in ['', [], '[]', None] %}
{{ 'EgressUntagged=' ~ bv['egress_untagged'] }}
{% endif %}
{% if bv['pvid'] is defined and bv['pvid'] not in ['', [], '[]', None] %}
{{ 'PVID=' ~ bv['pvid'] }}
{% endif %}
